html {font-size: 18px;
      font-family: Helvetica;}

.headcon {
  background-color: black;
  height: 2.32rem;
  display:flex;
  justify-content: center;
}

.head {
  display: inline-flex;
  width: 960px;
  /*border: 1px solid white;*/
  justify-content: flex-start;
}

.head img {
  height: 1.5rem;
  margin: 0.4rem 1rem 0 0.5rem;
}

.head p{
  font-family: Helvetica;
  font-size: 1rem;
  margin: 0.66rem 0;
  color: white;
}


.mainbanner {
  background: url(../images/moto.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 25rem;
  padding-top: 2.32rem;
}

.blackcontainer{
  width: 960px;
  margin: 0 auto;
  /*border: 1px solid blue;*/
}

.blackbanner {
  background-color: black;
  width: 20rem;
  color: white;
  margin-top: 9rem;
  /*position: relative;*/
  padding: 2rem 3rem;
}

.blackbanner h4 {
  font-weight: bold;
}

.blackbanner h1{
  padding-top: 0.25rem;
  font-weight: bold;
  font-size: 2rem;
  margin: 0.25rem 0;
}


nav{
  background-color: firebrick;
}

.redcontainer {
  width: 960px;
  margin: 0 auto;
}

.menu {
  /*border: 1px solid yellow;*/
  padding: 0.75rem 0;
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.menu a{
  color: white;
  text-decoration: none;
}



.prodcontainer {
  padding: 3rem 0;
  width: 960px;
  margin:0 auto;
}

.productgrid {
  display: flex;
  justify-content: space-between;
  /*border: 1px solid green;*/
}

.penspace {
  width: 30%;
  border: 4px solid black;
  /*display: block;*/
}

.watchspace {
  width: 30%;
  border: 4px solid black;
  /*display: block;*/
}

.glassspace {
  width: 30%;
  border: 4px solid black;
  /*display: block;*/
  padding: 2rem 0 0 0;
}

#glasssize {
  max-width: 9rem;
  padding: 2rem 3.5rem;
  margin-bottom: 49px;}

.specs {
  max-width: 9rem;
  padding: 2rem 3.5rem;
}

.verbiage {
  display: block;
  background-color: black;
  padding: 0.5rem;
  text-align: center;
  color: white;
}

.infocontainer {
  width: 960px;
  margin:0 auto;
}

.lhcontainer {
  display: flex;
  justify-content: space-between;
  /*border: 1px solid green;*/
}

.lochours {
  width: 35%;
}

.loctime {
  color: white;
  background-color: black;
  padding:1rem 0 1rem 2rem;
}

footer {
  background-color: black;
  margin-top: 4rem;
  color: white;
  padding:5rem;
}

.footprint {
  width:960px;
  margin: 0 auto;
}
