html {font-size: 18px;
      font-family: Helvetica;}

.headcon {
  background-color: black;
  height: 2.32rem;
  display:flex;
  justify-content: center;
}

.head {
  display: inline-flex;
  width: 960px;
  border: 1px solid white;
  justify-content: flex-start;
}

.head img {
  height: 1.5rem;
  margin: 0.4rem 1rem 0 0.5rem;
}

.head p{
  font-family: Helvetica;
  font-size: 1rem;
  margin: 0.66rem 0;
  color: white;
}


.mainbanner {
  background: url(../images/moto.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 25rem;
  padding-top: 2.32rem;
}

.blackcontainer{
  width: 960px;
  margin: 0 auto;
  border: 1px solid blue;
}

.blackbanner {
  background-color: black;
  width: 20rem;
  color: white;
  margin-top: 9rem;
  /*position: relative;*/
  padding: 2rem 3rem;
}

.blackbanner h4 {
  font-weight: bold;
}

.blackbanner h1{
  padding-top: 0.25rem;
  font-weight: bold;
  font-size: 2rem;
  margin: 0.25rem 0;
}


nav{
  background-color: firebrick;
  /*display: flex;
  justify-content:center;*/
}

.redcontainer {
  width: 960px;
  margin: 0 auto;
  /*height: 2.5rem;*/
  /*display:flex;
  justify-content:space-between;*/
}

.menu {
  border: 1px solid yellow;
  padding: 0.75rem 0;
  align-items: center;
  justify-content:space-between;
}

.menu a{
  color: white;
  /*justify-content: space-between;*/
  text-decoration: none;
}
